In [6]:
import pandas as pd
import

In [7]:
fn = "../impression_crawler/output/20220522-20221130"

In [8]:
df = pd.read_pickle(fn + ".pkl")
df

,date,time,user,modality,descriptor
0,"Nov 28, 2022",9:44:33 PM,"Senadeera, Sajith (sajiths)",CT,CT ABDOMEN
1,"Nov 28, 2022",9:35:41 PM,"Senadeera, Sajith (sajiths)",CT,CT HEAD PERFUSION
2,"Nov 28, 2022",9:32:44 PM,"Senadeera, Sajith (sajiths)",DX,ABDOMEN
3,"Nov 28, 2022",9:25:58 PM,"Senadeera, Sajith (sajiths)",MR,MRI BRAIN
4,"Nov 28, 2022",9:11:37 PM,"Senadeera, Sajith (sajiths)",CT,CT CHEST
...,...,...,...,...,...
593,"May 31, 2022",5:11:21 PM,"Senadeera, Sajith (sajiths)",CT,CT CHEST ABDOMEN SPINE TRAUMA
594,"May 31, 2022",12:00:27 PM,"Senadeera, Sajith (sajiths)",CR,R SHOULDER
595,"May 30, 2022",5:12:08 PM,"Senadeera, Sajith (sajiths)",CT,CT ABDOMEN
596,"May 30, 2022",5:10:36 PM,"Senadeera, Sajith (sajiths)",CT,CT ABDOMEN
597,"May 30, 2022",4:46:12 PM,"Senadeera, Sajith (sajiths)",CT,CT NECK

In [9]:
summary = df.groupby("user").modality.value_counts()

In [10]:
pd.DataFrame(summary).to_string(fn + ".txt")